<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.24/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Satisfy|Archivo|Archivo+Narrow" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />

    <script src="//cdn.muicss.com/mui-0.9.24/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-combined.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-angular-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-angular-combined.minjs"></script>
    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-react-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.24/extra/mui-react-combined.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script src="~/js/scripts.js"></script>
    <script src="https://use.fontawesome.com/c3a95916f1.js"></script>


    <title>@ViewBag.Title</title>
</head>

<body>
    <div id="sidedrawer">
        <div id="sidedrawer-brand">

        </div>
        <div class="mui-divider"></div>
        <ul>
            <li>
                <strong style="color:white;">@Html.ActionLink("THE DAHLL HAUS", "Index", "Home")</strong>
                <ul>
                    <li class="list-group-item">@Html.ActionLink("Meet the Artist", "About", "Home", null, new { @id ="parentLink" })</li>
                    <li class="list-group-item">@Html.ActionLink("Ask for a quote", "Contact", "Home")</li>
                    <li class="list-group-item">@Html.ActionLink("Dahll Haus Love Notes", "Reviews", "Home")</li>
                </ul>
            </li>
            <li>
                <strong style="color:white;">@Html.ActionLink("THE DAHLL HAUS SHOP", "Categories", "Items")</strong>
            </li>
            <li>
                <strong style="color:white;">REPAIRS AND ALTERATION SERVICES</strong>
            </li>
            <li>
                <strong style="color:white;">MUA PORTFOLIO</strong>
          </li>
        </ul>
    </div>
    <header id="header">
        <div class="mui-appbar mui--appbar-line-height">
            <table width="100%" class="navbar">
                <tr style="vertical-align:middle;">
                    <td class="mui--appbar-height"><a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                    <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                    </td>
                    <td class="mui--appbar-height" align="center">
                        <span class="mui--text-title" id="headtitle" aligh="center">Welcome to the Dahll Haus</span>
                    </td>
                    <td class="mui--appbar-height" align="right">
                        <a href="https://www.facebook.com/TheDahllHaus"><i class="fa fa-facebook-official fa-2x" aria-hidden="true">&nbsp&nbsp&nbsp</i></a><a href="https://www.etsy.com/shop/TheDahllHaus"><i class="fa fa-etsy fa-2x" aria-hidden="true">&nbsp&nbsp&nbsp</i></a><a href="https://www.instagram.com/thedahllhaus"><i class="fa fa-instagram fa-2x" aria-hidden="true">      </i></a>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
            @RenderBody()
        </div>
    </div>
    <footer id="footer">
        <div class="mui-container-fluid">
            <br>
            <p class="footText">Design by Amatorah Design | The Dahll Haus <i class="fa fa-copyright fa-fw" aria-hidden="true"></i>2017</p>
        </div>
    </footer>
</body>
</html>